.news
{
  padding:2%;
}
.title_admin
{
  margin-left:5%;
}
.buttoncom
{
  
}


.recap_list
{

  padding-left:1%;
}

.recap_list_button_modif
{
  margin-right:1%;
}

.addpost_button_submit
{
  margin-bottom:15%;
}
